body {
    padding: 50px 20px 10px 20px;
}

.summaryTable td {
    border-bottom: 1px solid #CCC;
    padding: 0.5em 1.5em 0.5em 0;
}

.contentHeaderLabel {
    font-style: italic;
}

.subHeaderLabel {
    font-size: 16px;
    font-weight: bold;
}

.actionLabel {
    font-weight: bold;
}

.numberCell {
    text-align: right;
}

.headerCell {
    font-weight: bold;
}
